## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_type = classification_value_counts.loc[classification_value_counts > 1]
classification_type.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts [classification_value_counts <1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
display(dummies_df.head())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=78,stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 15
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                880

 dense_1 (Dense)             (None, 15)                315

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 1211 (4.73 KB)
Trainable params: 1211 (4.73 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

804/804 [==============================] - 2s 1ms/step - loss: 0.5913 - accuracy: 0.7053
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7261
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5578 - accuracy: 0.7272
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7285
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7310
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7313
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7303
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7304
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7316
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7309
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7321
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7312
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7316
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7320
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7331
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7321
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7329
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7339
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7331
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7311
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7315
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7334
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7323
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7329
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7337
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7325
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7327
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7343
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 38/50
804/804 [==============================] - 1s 986us/step - loss: 0.5441 - accuracy: 0.7350
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7336
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7343
Epoch 41/50
804/804 [==============================] - 1s 997us/step - loss: 0.5432 - accuracy: 0.7343
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7343
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7336
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7333
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7346
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 48/50
804/804 [==============================] - 1s 987us/step - loss: 0.5429 - accuracy: 0.7334
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7344
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7332

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5522 - accuracy: 0.7301 - 192ms/epoch - 718us/step
Loss: 0.5522339344024658, Accuracy: 0.7301457524299622

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')