## Preprocessing

In [117]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [118]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [119]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [120]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [121]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [122]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [123]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_type = classification_value_counts.loc[classification_value_counts > 1]
classification_type.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [124]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts [classification_value_counts <1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [125]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
display(dummies_df.head())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [126]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=78,stratify=y)

In [127]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [128]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 15
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_26"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_78 (Dense)            (None, 20)                880

 dense_79 (Dense)            (None, 15)                315

 dense_80 (Dense)            (None, 1)                 16

=================================================================
Total params: 1211 (4.73 KB)
Trainable params: 1211 (4.73 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [129]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [130]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

804/804 [==============================] - 1s 919us/step - loss: 0.5834 - accuracy: 0.7140
Epoch 2/50
804/804 [==============================] - 1s 794us/step - loss: 0.5597 - accuracy: 0.7276
Epoch 3/50
804/804 [==============================] - 1s 910us/step - loss: 0.5559 - accuracy: 0.7285
Epoch 4/50
804/804 [==============================] - 1s 828us/step - loss: 0.5530 - accuracy: 0.7302
Epoch 5/50
804/804 [==============================] - 1s 870us/step - loss: 0.5522 - accuracy: 0.7296
Epoch 6/50
804/804 [==============================] - 1s 850us/step - loss: 0.5505 - accuracy: 0.7311
Epoch 7/50
804/804 [==============================] - 1s 794us/step - loss: 0.5498 - accuracy: 0.7310
Epoch 8/50
804/804 [==============================] - 1s 793us/step - loss: 0.5490 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 1s 854us/step - loss: 0.5484 - accuracy: 0.7315
Epoch 10/50
804/804 [==============================] - 1s 864us/step - loss: 0.5480 - accuracy: 0.7320
Epoch 11/50
804/804 [==============================] - 1s 909us/step - loss: 0.5476 - accuracy: 0.7316
Epoch 12/50
804/804 [==============================] - 1s 774us/step - loss: 0.5472 - accuracy: 0.7321
Epoch 13/50
804/804 [==============================] - 1s 858us/step - loss: 0.5471 - accuracy: 0.7320
Epoch 14/50
804/804 [==============================] - 1s 822us/step - loss: 0.5465 - accuracy: 0.7327
Epoch 15/50
804/804 [==============================] - 1s 852us/step - loss: 0.5466 - accuracy: 0.7310
Epoch 16/50
804/804 [==============================] - 1s 874us/step - loss: 0.5458 - accuracy: 0.7329
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7322
Epoch 20/50
804/804 [==============================] - 1s 914us/step - loss: 0.5451 - accuracy: 0.7324
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7324
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7339
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7332
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7340
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7344
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 28/50
804/804 [==============================] - 1s 988us/step - loss: 0.5441 - accuracy: 0.7334
Epoch 29/50
804/804 [==============================] - 1s 992us/step - loss: 0.5436 - accuracy: 0.7347
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7347
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 32/50
804/804 [==============================] - 1s 998us/step - loss: 0.5431 - accuracy: 0.7329
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7334
Epoch 35/50
804/804 [==============================] - 1s 980us/step - loss: 0.5433 - accuracy: 0.7335
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7342
Epoch 37/50
804/804 [==============================] - 1s 1000us/step - loss: 0.5428 - accuracy: 0.7349
Epoch 38/50
804/804 [==============================] - 1s 990us/step - loss: 0.5428 - accuracy: 0.7353
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7344
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7345
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 42/50
804/804 [==============================] - 1s 982us/step - loss: 0.5420 - accuracy: 0.7349
Epoch 43/50
804/804 [==============================] - 1s 995us/step - loss: 0.5421 - accuracy: 0.7357
Epoch 44/50
804/804 [==============================] - 1s 953us/step - loss: 0.5418 - accuracy: 0.7352
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7355
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7351
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7347
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7356
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7350

In [131]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5510 - accuracy: 0.7331 - 329ms/epoch - 1ms/step
Loss: 0.5509639382362366, Accuracy: 0.7330612540245056